@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:wght@600&display=swap');
/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
*/

/* 
Color Optio 1
#e2c977 Buff
#a1a1a Eerie Black
#ffffff White
#a08266 Cafe Au Lait
#893168 Amaranth MP

Color Optio 2
#e2c977 Buff
#a1a1a Eerie Black
#ffffff White
#a08266 Cafe Au Lait
#246eb9 Honolulu Blue


Color Optio 3
#e2c977 Buff
#a1a1a Eerie Black
#ffffff White
#a08266 Cafe Au Lait
#c05746 Cedar Chest
*/

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #a4866a; /* option-1 */
    text-decoration: none;
}

a:hover {
    color: #893168;
    text-decoration: underline;
}

a:focus {
    outline-color: #a4866a;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1a1a1a;
    margin: 0;
}

.shadow {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.nav-bkg-color {
    background: #f2f3f4;
}

/* Header & Navigation */

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;;
}
  
.logo-img {
    width: 100px;
    height: auto;
}

.logo-text {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    padding-left: 1em;
    text-transform:none;
    color: #1a1a1a;
}

/* Navigation */
  
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}

.open-nav,
.close-nav {
    display: none;
}
    
.nav {
    position: initial;
}
    
.nav-list {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.nav-link-footer {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.nav-list li {
    list-style: none;
}
    
.nav-item {
    margin-left: 1em;
}
    
.nav-link {
    font-size: 1rem;
}
    
.header-home .nav {
    background: transparent;
}

.current,
.current a {
    color: #1a1a1a;
    font-weight: 700;
    text-decoration: none;
}

/* Banner Image and Text */

.card-background01-img { /* my motivations image */
    background:
    linear-gradient(127deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    linear-gradient(217deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    linear-gradient(336deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-motivations03-550x400-photo-by-zoltan-tasi-min.jpg');
    width: 100%;
    height: 0;
    padding-top: 25%; /* (img-height / img-width * container-width) */ /* (853 / 1280 * 100) */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 100%;
}

.card-background02-img { /* about me */
    background:
    linear-gradient(217deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    linear-gradient(336deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-about-me-550x400-photo-by-norman-tothabout-me-min.jpg');
    width: 100%;
    height: 0;
    padding-top: 25%; /* (img-height / img-width * container-width) */ /* (853 / 1280 * 100) */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 100%;
}

.card-background03-img { /* whay it matters image */
    background:
    linear-gradient(127deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    linear-gradient(217deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    linear-gradient(336deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-why-it-matters-550x400-photo-by-brian-mann-min.jpg');
    width: 100%;
    height: 0;
    padding-top: 25%; /* (img-height / img-width * container-width) */ /* (853 / 1280 * 100) */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 100%;
}

.card-background04-img { /* calendar image */
    background:
    linear-gradient(127deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    linear-gradient(217deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-calendar-550x400-photo-by-keegan-houser-min.jpg');
    width: 100%;
    height: 0;
    padding-top: 25%; /* (img-height / img-width * container-width) */ /* (853 / 1280 * 100) */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 100%;
}

.card-background05-img { /* contact image*/
    background:
    linear-gradient(127deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    linear-gradient(217deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    linear-gradient(336deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-contact-photo-550x400-by-adam-solomon-min.jpg');
    width: 100%;
    height: 0;
    padding-top: 25%; /* (img-height / img-width * container-width) */ /* (853 / 1280 * 100) */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 100%;
}

section .card-background01-img,
section .card-background02-img,
section .card-background03-img,
section .card-background04-img,
section .card-background05-img {
    width: 35%;
    margin-right: 2em;
}

/*.banner-img {
    background-image: url('/img/option-1/breathwork-by-rick-banner01-1366x700-photo-by-nine-kopfer-min.jpg');
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 6em;
}*/

.banner-img {
    background:
    /*linear-gradient(217deg, rgba(226,201,119,.7), rgba(226,201,119,0) 70.71%),
    linear-gradient(127deg, rgba(160,130,102,.9), rgba(160,130,102,0) 70.71%),
    linear-gradient(336deg, rgba(192,87,70,.9), rgba(192,87,70,0) 70.71%),*/

    linear-gradient(217deg, rgba(255,204,0,.6), rgba(255,204,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,195,227,.6), rgba(0,195,227,0) 70.71%),
    linear-gradient(336deg, rgba(255,0,255,.6), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-banner02-1366x700-photo-by-nine-kopfer-min.jpg');
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 6em;
    opacity: 90%;
}

.banner-copy-centered {
    position: relative;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
}


/* Main Content */
  
main {
    width: 70%;
    margin: 0 auto;
}

/* Cards */

.card-img {
    display: flex;
    align-items: flex-start;
    margin-bottom: 6em;
}

.card-form {
    display: flex;
    align-items: flex-start;
    margin: 6em auto 0;
}

.card-img-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-bottom: 6em;
}

/* card Images */ 

.img-margin-left,
.img-margin-right {
    min-width: 200px;
    width: 35%;
    height: auto;
}

.img-margin-left {
    margin-left: 2em;
}
  
.img-margin-right {
    margin-right: 2em;
}

/* Card Text */
  
.card-text-contain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 64%;
}
  
.card-heading {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    margin: 0;
}

.card-sub-heading {
    font-family: 'Montserrat', serif;
    font-size: 1.4rem;
    margin: 0;
}
  
.card-text {
    background:#E2C977;
    padding: 3em 5em;
    margin-bottom: 6em;
}

/* calendar */

.calendar-contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6em 0;
    width: 100%;
    height: auto;
}

/* Responsive iFrame */

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    }
    
    .responsive-iframe-container iframe,
    .vresponsive-iframe-container object,
    .vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

/* Form */

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-section {
    width: 75%;
    margin: 6em auto;
}

.form-contain {
    width: 85%;
    margin: 0 auto;
}

label {
    font-weight: 700;
}

input,
textarea {
    font-size: 1em;
    margin-bottom: 1em;
    padding: .35em;
    font-family: inherit;
}

.fname-input,
.lname-input,
.ename-input,
#message {
    border-color: #eaeaea;
}


textarea {
    resize: none;
    height: 150px;
}

.btn-form {
    justify-self: end;
}

.contact-form .btn-form {
    padding: .5em 1.75em;
    font-size: 1rem;
}

/* buttons */

.btn {
    padding: .5em 1.75em;
    font-weight: 700;
    margin-top: .5em;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background: #a4866a;
    color: #fff;
    width: 100px;
    height: 44px;
    border-radius: 3px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color:#893168;
    color: #fff;
}

/* footer */
  
footer {
    background: #1a1a1a;
    height: 400px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

/* Footer Text */

.copy-footer {
    color: #ffffff;
    font-size: 1.2rem;
}

.copy-footer-terms,
#auto-date {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: rgba(255,255,255, 0.4);
}

/* Social Media Icons */

.fa {
    font-size: 48px!important;
}

.fa-facebook-square,
.fa-instagram {
    color: rgba(255,255,255, 0.9);
    margin-top: 0.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.fa-facebook-square:hover,
.fa-instagram:hover {
    color: #893168;
}

.footer-date-contain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Media Queries */

    @media only screen and (max-width: 1024px) {

        .banner-copy-centered {
            font-size: 2.8rem;
        }

        .card-text-contain {
            width: 60%;
        }

        .img-margin-left,
        .img-margin-right {
            width: 40%;
        }
    }

    @media only screen and (max-width: 768px) {

        /* start - ipad and mobile - make the height of the background image responsibe */

        section .card-background01-img,
        section .card-background02-img,
        section .card-background03-img,
        section .card-background04-img,
        section .card-background05-img {
            width: 100%;
            margin-bottom: 2em;
        }

        .card-background01-img,
        .card-background02-img,
        .card-background03-img,
        .card-background04-img,
        .card-background05-img {
            padding-top: 73%; /* (img-height / img-width * container-width) */ /* (853 / 1280 * 100) */
        }

        /* end - ipad and mobile - make the height of the background image responsibe */


        #main-google-calendar {
            width: 90%;
        }

        .logo-text {
            font-size: 1rem;
        }

        .banner-img {
            width: 100vw;
            height: 80vh;
            background-position: top 0 right 25%!important;
            background-position-x: 25%!important;
            background-position-y: 0%;
            background-origin: content-box;
        }

        .banner-copy-centered {
            font-size: 2.6rem;
        }

        .img-margin-left,
        .img-margin-right {
            width: 100%;
            height: auto;
        }
     
        .card-text-contain {
            flex-direction: column;
            width: 100%;
        }

        .card-heading {
            font-size: 1.8rem;
        }

        .card-sub-heading {
            font-size: 1.2rem;
        }
     
        .card-img,
        .card-img-reverse,
        .card-form {
            flex-direction: column;
        }

        .banner-img,
        .card-img,
        .card-img-reverse,
        .card-text {
            margin-bottom: 5em;
        }

        .card-text {
        padding: 2em;
        }

        .img-margin-left,
        .img-margin-right {
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 2em;
            margin-left: 0;
        }

        .contact-form-section {
            width: 100%;
        }

        .form-contain {
            width: 100%;
        }

    }

    @media only screen and (max-width: 600px) {

        .banner-img {
            width: 100vw;
            height: 100vh;
            background-position: right 80% top;
        }

        header {
            padding: 2em;
        }

        .logo-img {
            width: 75px;
            height: auto;
        }

        .navigation-list {
            display: none;
        }

        .banner-copy-centered {
            font-size: 2rem;
        }

        .card-heading {
            font-size: 1.6rem;
        }

        main {
            width: 90%;
            margin: 0 auto;
        }

       

        /* new navigation */

        .open-nav,
        .close-nav {
            display: block;
        }

        .nav {
            position: fixed;
            background: #1a1a1a;
            width: 100%;
            height: 100vh;
            top: 0;
            right: 0;
            bottom: 0;
            left: 100%;
            transform: translateX(0);
            transition: transform 250ms;
            z-index: 999;
        }
        
        .navigation-open {
            transform: translateX(-100%);
        }
        
        .nav-list {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
        .nav-link {
            color: #e2c977; /* option-1 */
            text-decoration: none;
            font-size: 2rem;
            font-weight: 700;
        }
        
        .nav-link:hover,
        .nav-link:focus {
            color: #FFFFFF;
            text-decoration: underline;
        }
        
        .close-nav {
            border: 0;
            background: 0;
            color: #e2c977; /* option-1 */
            font-weight: 700;
            font-size: 3rem;
            cursor: pointer;
            padding: .5em;
            position: absolute;
        }
        
        .close-nav:hover {
            color:#FFFFFF;
        }
        
        .open-nav {
            border: 0;
            background: 0;
            color: #88694b;
            cursor: pointer;
            padding-right: .25em;
            margin-left: auto;
            margin-top: -.25em;
            font-size: 3em;
        }

    }

    @media only screen and (max-width: 414px) {

        .banner-img {
            width: 100vw;
            height: 85vh;
            background-position: right 76% top;
        }

        .banner-copy-centered {
            font-size: 1.6rem;
            width: 65%;
            top: 40%;
        }

        header {
            padding: 1em 1em;
        }

        .card-heading {
            font-size: 1.4rem;
        }

        .card-sub-heading {
            font-size: 1rem;
        }

        .card-form {
            margin: 3em auto 0;
        }

        .contact-form-section {
            margin: 3em auto;
        }

        textarea {
            height: 200px;
        }

        .banner-img,
        .card-img,
        .card-img-reverse,
        .card-text {
            margin-bottom: 3em;
        }

        .img-margin-left,
        .img-margin-right {
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 1em;
            margin-left: 0;
        }
        
    }

    @media only screen and (max-width: 375px) {

        .banner-img {
            width: 100vw;
            height: 85vh;
            background-position: right 76% top;
        }

        .card-heading {
            font-size: 1.2rem;
        }

    }

    @media only screen and (max-width: 360px) {

        .logo-text {
            display: none;
        }

        .banner-img {
            width: 100vw;
            height: 85vh;
            background-position: right 74% top;
        }

        .banner-copy-centered {
            font-size: 1.4rem;
            width: 65%;
            top: 40%;
        }

    }

