@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:wght@600&display=swap');

/* FONTS ////////////////////////////

font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
*/

/* 
COLOR PALETTE ////////////////////////////

#e2c977 Buff
#a1a1a Eerie Black
#ffffff White
#a08266 Cafe Au Lait
#893168 Amaranth MP
*/

/* CONTENTS ////////////////////////////

1. GLOBAL
    a. Buttons
2. HEACDER
    b. Logo
    c. Navigation
3. HOME
    a. Card component
    b. Card images
    c. Card text
    d. Banner images
    e. Images
        1. my motivation
        2. about me
        3. why it matters
        4. calendar
        5. contact
        6. Testimonials
4. CALENDAR
    a. Google calendar
5. CONTACT
    a. form
6. FOOTER
    a. Footer text
    b. Social Media icons
7. MEDIA QUERIES
*/


/* 1. GLOBAL //////////////////////////// */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
                /* Remove zoom on inputs for mobile */
}

img {
    width: 100%;
    height: auto;
}

html, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    color: #a4866a;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: #893168;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
}

a:focus {
    outline-color: #a4866a;
}

.bold-font {
    font-weight: 700;
}

.shadow {
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
            box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.current,
.current a {
    color: #1a1a1a;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

main {
    width: 70%;
    margin: 0 auto;
}

/* Remove zoom on inputs for mobile */
input, select { 
    font-size: 100%; 
}

/* - - Buttons - - */

.btn {
    padding: .5em 1.75em;
    font-weight: 700;
    margin-top: .5em;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background: #a4866a;
    color: #fff;
    width: 100px;
    height: 44px;
    border-radius: 3px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color:#893168;
    color: #fff;
}

/* 2. HEADER */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2.5em 3em 2.5em 3em;
}

/* - - Logo - - */

.logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;;
}
  

.logo-img {
    width: 100px;
    height: auto;
}

.logo-text a {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin-top: .50em;
    padding-left: 1em;
    color: #1a1a1a;
    text-decoration: none;
}

/* - - Navigation - -  */

.nav {
    padding-top: .5em;
}

.nav-bkg-color {
    background: #f2f3f4;
}

.open-nav,
.close-nav {
    display: none;
}
    
.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.nav-link-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.nav-list li {
    list-style: none;
    padding-left: 1.25em;
}
    
.nav-item {
    margin-left: 1em;
}
    
.nav-link {
    font-size: 1rem;
}
    
.header-home .nav {
    background: transparent;
}

/* - - Banner Image - - */

.banner-img {
    background:
    -o-linear-gradient(233deg, rgba(255,204,0,.6), rgba(255,204,0,0) 70.71%),
    -o-linear-gradient(323deg, rgba(0,195,227,.6), rgba(0,195,227,0) 70.71%),
    -o-linear-gradient(114deg, rgba(255,0,255,.6), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-banner02-1366x700-photo-by-nine-kopfer-min.jpg');
    background:
    linear-gradient(217deg, rgba(255,204,0,.6), rgba(255,204,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,195,227,.6), rgba(0,195,227,0) 70.71%),
    linear-gradient(336deg, rgba(255,0,255,.6), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-banner02-1366x700-photo-by-nine-kopfer-min.jpg');
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 6em;
    opacity: 90%;
}

.banner-copy-centered {
    position: relative;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    font-weight: 700;
    width: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    line-height: 1.3;
}

/* 3. HOME //////////////////////////// */

/* - - Card Component - - */

.card-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 6em;
}

.card-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 6em auto 0;
}

.card-img-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 6em;
}

/* - - Card Images - - */ 

.img-margin-left,
.img-margin-right {
    min-width: 200px;
    width: 35%;
    height: auto;
}

.img-margin-left {
    margin-left: 2em;
}
  
.img-margin-right {
    margin-right: 2em;
}

/* - - Card Text - - */
  
.card-text-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 64%;
}

.card-heading {
    font-family: 'Merriweather', serif;
    font-size: 2.25em; /* 36 / 16 */ 
    line-height: 1.333333333333333em; /* 48 / 36 */ 
    font-weight: 700;
    margin-top:  -0.25em; /* remove margin-top with negative margin, flexbox */
    margin-bottom: .6666666666666667em; /* 24 / 36 */ 
}

.card-heading-solo {
    font-family: 'Merriweather', serif;
    font-size: 2.25em; /* 36 / 16 */ 
    line-height: 2.25em;
    font-weight: 700;
    margin-top: 1em;
    text-align: center;
}

.card-sub-heading {
    font-family: 'Montserrat', serif;
    font-weight: 700;

font-size: 1.3125em; /* 21 / 16 */ 
line-height: 1.142857142857143em; /* 24 / 21 */ 
margin-bottom: 1.142857142857143em; /* 24 / 21 */ 
}
  
.card-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background:#E2C977;
    padding: 3em 5em;
    margin-bottom: 6em;
}

/* - - Images - - */

/* - - My Motivation - - */

.card-background01-img { /* My Motivations image */
    background:
    -o-linear-gradient(323deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    -o-linear-gradient(233deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    -o-linear-gradient(114deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-motivations03-550x400-photo-by-zoltan-tasi-min.jpg');
    background:
    linear-gradient(127deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    linear-gradient(217deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    linear-gradient(336deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-motivations03-550x400-photo-by-zoltan-tasi-min.jpg');
    width: 100%;
    height: 0;
    padding-top: 25%; /* (img-height / img-width * container-width) */ /* (853 / 1280 * 100) */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 100%;
}

/* - - About Me - - */

.card-background02-img { /* About Me image */
    background:
    -o-linear-gradient(233deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    -o-linear-gradient(323deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    -o-linear-gradient(114deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-about-me-550x400-photo-by-norman-tothabout-me-min.jpg');
    background:
    linear-gradient(217deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    linear-gradient(336deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-about-me-550x400-photo-by-norman-tothabout-me-min.jpg');
    width: 100%;
    height: 0;
    padding-top: 24.5%; /* (img-height / img-width * container-width) */ /* (853 / 1280 * 100) */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 100%;
}

/* - - Why It Matters image - - */

.card-background03-img { /* Why It Matters image */
    background:
    -o-linear-gradient(323deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    -o-linear-gradient(233deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    -o-linear-gradient(114deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-why-it-matters-550x400-photo-by-brian-mann-min.jpg');
    background:
    linear-gradient(127deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    linear-gradient(217deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    linear-gradient(336deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-why-it-matters-550x400-photo-by-brian-mann-min.jpg');
    width: 100%;
    height: 0;
    padding-top: 25%; /* (img-height / img-width * container-width) */ /* (853 / 1280 * 100) */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 100%;
}

/* - - Calenar image - - */

.card-background04-img { /* Calendar image */
    background:
    -o-linear-gradient(323deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    -o-linear-gradient(114deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    -o-linear-gradient(233deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-calendar-550x400-photo-by-keegan-houser-min.jpg');
    background:
    linear-gradient(127deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    linear-gradient(217deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-calendar-550x400-photo-by-keegan-houser-min.jpg');
    width: 100%;
    height: 0;
    padding-top: 25%; /* (img-height / img-width * container-width) */ /* (853 / 1280 * 100) */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 100%;
}

/* - - Contact Image - - */

.card-background05-img { /* Contact image*/
    background:
    -o-linear-gradient(323deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    -o-linear-gradient(233deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    -o-linear-gradient(114deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-contact-photo-550x400-by-adam-solomon-min.jpg');
    background:
    linear-gradient(127deg, rgba(255,204,0,.5), rgba(255,204,0,0) 70.71%),
    linear-gradient(217deg, rgba(0,195,227,.5), rgba(0,195,227,0) 70.71%),
    linear-gradient(336deg, rgba(255,0,255,.5), rgba(255,0,255,0) 70.71%),
        url('/img/option-1/breathwork-by-rick-contact-photo-550x400-by-adam-solomon-min.jpg');
    width: 100%;
    height: 0;
    padding-top: 25%; /* (img-height / img-width * container-width) */ /* (853 / 1280 * 100) */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 100%;
}

section .card-background01-img,
section .card-background02-img,
section .card-background03-img,
section .card-background04-img,
section .card-background05-img {
    width: 35%;
    margin-right: 2em;
}

/* - - Testimonials - - */

.testimonial-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f2f3f4;
    width: 100%;
    margin-bottom: 6em;
}

#testimonial-slider{
    padding: 0px 20px 20px 20px;
    background: #f2f3f4;
    text-align: center;  
}

.owl-buttons{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 40%;
    left: 0;
}
.owl-prev,
.owl-next{
    position: absolute;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.owl-next{
    left: auto;
    right: 0;
}
.owl-buttons .owl-prev:before,
.owl-buttons .owl-next:before{
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 60px;
    font-weight: 900;
    color: #cacaca;
    line-height: 20px;
    opacity: 0.8;
}

.owl-buttons .owl-next:before{
    content: "\f105";
}

.owl-buttons .owl-prev:hover:before,
.owl-buttons .owl-next:hover:before{
    opacity: 1;
}

.owl-theme .owl-controls .owl-buttons div{
    background: transparent;
}

.owl-theme .owl-controls{
    margin-top: 40px;
}

.owl-pagination {
    margin-bottom: 2em;
}

.owl-theme .owl-controls .owl-page span{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #e2c977;
    background: url("/img/option-1/stephanie-b-testimonials-img001.jpg") no-repeat;
    background-size: cover;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.owl-theme .owl-controls .owl-page:nth-child(2) span{
    background: url("/img/option-1/angela-b-img-testimonials002.jpg") no-repeat;
    background-size: cover;
}
/*
.owl-theme .owl-controls .owl-page:nth-child(3) span{
    background: url("/img/option-1/npc-man-testimonials-img004.jpg") no-repeat;
    background-size: cover;
}
*/
.owl-theme .owl-controls.clickable .owl-page:hover span{
    opacity: 0.5;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page.active:hover span{
    border-color: #893168;
    opacity: 1;
}

@media only screen and (max-width: 2560px){
    .conrtainer-styling {
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    .testimonial-wrapper {
        margin-bottom: 5em;
    }
}

@media only screen and (max-width: 414px){

    .testimonial-wrapper {
        margin-bottom: 3em;
    }
    
    .owl-theme .owl-controls .owl-page span {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 414px){
    
    .owl-theme .owl-controls .owl-page span {
        width: 50px;
        height: 50px;
    }
}

/* 4. CALENDAR //////////////////////////// */

.calendar-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 6em 0;
    width: 100%;
    height: auto;
}

/* - - Responsive iFrame for Google Calendar - - */

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    }
    
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

/* 5. CONTACT //////////////////////////// */

/* - - Form - - */

.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.contact-form-section {
    width: 75%;
    margin: 6em auto;
    background: #f2f3f4;
    padding: 4em 0;
}

.form-contain {
    width: 85%;
    margin: 0 auto;
}

label {
    font-weight: 700;
}

input,
textarea {
    font-size: 1em;
    margin-bottom: 1em;
    padding: .35em;
    font-family: inherit;
}

.fname-input,
.lname-input,
.ename-input,
#message {
    border-color: #eaeaea;
}

textarea {
    resize: none;
    height: 150px;
}

.btn-form {
    -ms-grid-column-align: end;
        justify-self: end;
}

.contact-form .btn-form {
    padding: .5em 1.75em;
    font-size: 1rem;
}

/* 6. FOOTER //////////////////////////// */
  
footer {
    background: #1a1a1a;
    height: 400px;
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2em 0;
}

.nav-item {
    font-family: 'Montserrat', serif;
    font-size: 1rem;
    list-style: none;
    letter-spacing: 0.15rem;
    margin: 0 auto;
}

.current-footer { 
    font-family: 'Montserrat', serif;
    color: #62503e;
    text-transform: uppercase;
    font-weight: 700;
}

/* - - Footer Text - - */

.copy-footer {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
}

.copy-footer-terms,
#auto-date {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: rgba(255,255,255, 0.4);
}

/* - - Social Media Icons - - */

.fa {
    font-size: 48px!important;
}

.fa-facebook-square,
.fa-instagram {
    color: rgba(255,255,255, 0.9);
    margin-top: 0.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.fa-facebook-square:hover,
.fa-instagram:hover {
    color: #893168;
}

.footer-date-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

/* 7. MEDIA QUERIES //////////////////////////// */

    @media only screen and (max-width: 1024px) {

        .banner-copy-centered {
            font-size: 2.8rem;
        }

        .img-margin-left,
        .img-margin-right {
            width: 40%;
        }

        .card-heading {
            font-size: 1.5em; /* 24 / 16 */ 
            line-height: 1em; /* 24 / 24 */ 
            margin-bottom: 1em; /* 24 / 24 */ 
        }

        .card-heading-solo {
            font-size: 1.5em; /* 24 / 16 */ 
            line-height: 1em; /* 24 / 24 */ 
            margin-top: 2em;
            margin-bottom: 1em; /* 24 / 24 */ 
        }

        .owl-pagination {
            margin-bottom: 1em;
        }

        .mod-card-heading { /* decreae line-height for heading on card-text heading ipad and mobile only */
            line-height: 1.4;
            margin-bottom: .55em;
        }

        .card-text-contain {
            width: 60%;
        }

        .card-text {
            padding: 3em;
        }

    }

    @media only screen and (max-width: 768px) {

        .logo-text {
            font-size: 1rem;
        }

        .banner-img {
            width: 100vw;
            height: 80vh;
            background-position: top 0 right 25%!important;
            background-position-x: 25%!important;
            background-position-y: 0%;
            background-origin: content-box;
        }

        .banner-copy-centered {
            font-size: 2.6rem;
        }

        /* start - ipad and mobile - make the height of the background image responsibe */
        section .card-background01-img,
        section .card-background02-img,
        section .card-background03-img,
        section .card-background04-img,
        section .card-background05-img {
            width: 100%;
            margin-bottom: 3em;
        }

        .card-background01-img,
        .card-background02-img,
        .card-background03-img,
        .card-background04-img,
        .card-background05-img {
            padding-top: 73%;       /* (img-height / img-width * container-width) */ /* (853 / 1280 * 100) */
        }                           /* end - ipad and mobile - make the height of the background image responsibe */


        .img-margin-left,
        .img-margin-right {
            width: 100%;
            height: auto;
        }
     
        .card-text-contain {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 100%;
        }

        .card-heading,
        .card-heading-solo {
            font-size: 1.5em; /* 24 / 16 */ 
            line-height: 1em; /* 24 / 24 */ 
            margin-bottom: 1em; /* 24 / 24 */ 
        }

        .mod-card-heading { 
            line-height: 1.4;
            margin-bottom: 1em;
        }

        .card-sub-heading {  
            font-size: 1.125em; /* 18 / 16 */ 
            line-height: 1.333333333333333em; /* 24 / 18 */ 
            margin-bottom: 1.333333333333333em; /* 24 / 18 */ 
        }
     
        .card-img,
        .card-img-reverse,
        .card-form {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

        .banner-img,
        .card-img,
        .card-img-reverse,
        .card-text {
            margin-bottom: 5em;
        }

        .img-margin-left,
        .img-margin-right {
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 2em;
            margin-left: 0;
        }

        .owl-buttons {
            bottom: 30%;
        }

        #main-google-calendar {
            width: 90%;
        }

        .contact-form-section {
            width: 100%;
            padding: 2em;
        }

        .form-contain {
            width: 100%;
        }

    }

    @media only screen and (max-width: 600px) {

        header {
            padding: 2em;
        }

        /* - - Navigation - - */

        .open-nav,
        .close-nav {
            display: block;
        }

        .nav {
            position: fixed;
            background: #1a1a1a;
            width: 100%;
            height: 100vh;
            top: 0;
            right: 0;
            bottom: 0;
            left: 100%;
            -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                    transform: translateX(0);
            -webkit-transition: -webkit-transform 250ms;
            transition: -webkit-transform 250ms;
            -o-transition: transform 250ms;
            transition: transform 250ms;
            transition: transform 250ms, -webkit-transform 250ms;
            z-index: 999;
        }
        
        .navigation-open {
            -webkit-transform: translateX(-100%);
                -ms-transform: translateX(-100%);
                    transform: translateX(-100%);
        }
        
        .nav-list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

        .navigation-list {
            display: none;
        }
        
        .nav-link {
            color: #e2c977; /* option-1 */
            text-decoration: none;
            font-size: 2rem;
            font-weight: 700;
        }
        
        .nav-link:hover,
        .nav-link:focus {
            color: #FFFFFF;
            text-decoration: underline;
        }
        
        .close-nav {
            border: 0;
            background: 0;
            color: #e2c977; /* option-1 */
            font-weight: 700;
            font-size: 3rem;
            cursor: pointer;
            padding: .5em;
            position: absolute;
        }
        
        .close-nav:hover {
            color:#FFFFFF;
        }
        
        .open-nav {
            border: 0;
            background: 0;
            color: #88694b;
            cursor: pointer;
            padding-right: .25em;
            margin-left: auto;
            margin-top: -.25em;
            font-size: 3em;
        }

        main {
            width: 90%;
            margin: 0 auto;
        }

        .banner-img {
            width: 100vw;
            height: 100vh;
            background-position: right 80% top;
        }

        .logo-img {
            width: 75px;
            height: auto;
        }

        .banner-copy-centered {
            font-size: 2rem;
        }

    }

    @media only screen and (max-width: 414px) {

        header {
            padding: 1em 1em;
        }

        .banner-img {
            width: 100vw;
            height: 85vh;
            background-position: right 76% top;
        }

        .banner-copy-centered {
            font-size: 1.6rem;
            width: 65%;
            top: 40%;
        }

        .img-margin-left,
        .img-margin-right {
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 1em;
            margin-left: 0;
        }

        .banner-img,
        .card-img,
        .card-img-reverse,
        .card-text {
            margin-bottom: 3em;
        }

        .owl-buttons {
            bottom: 20%;
        }

        .card-form {
            margin: 3em auto 0;
        }

        .contact-form-section {
            margin: 3em auto;
        }

        textarea {
            height: 200px;
        }
        
    }

    @media only screen and (max-width: 375px) {

        .banner-img {
            width: 100vw;
            height: 85vh;
            background-position: right 76% top;
        }
        .card-text {
            padding: 2em;
            }
    

    }

    @media only screen and (max-width: 360px) {

        .logo-text {
            display: none;
        }

        .banner-img {
            width: 100vw;
            height: 85vh;
            background-position: right 74% top;
        }

        .banner-copy-centered {
            font-size: 1.4rem;
            width: 65%;
            top: 40%;
        }

    }

